<?xml version="1.0" encoding="utf-8" ?>
<form>
	<fieldset name="settings_fields">
		<field name="company_name" type="text" default="0" label="COM_GOTAUCTION_COMPANY_NAME_LABEL" description="COM_GOTAUCTION_COMPANY_NAME_DESC" />
		<field name="director" type="text" default="0" label="COM_GOTAUCTION_DIRECTOR_LABEL" description="COM_GOTAUCTION_DIRECTOR_DESC" />
		<field name="contact_number" type="text" default="0" label="COM_GOTAUCTION_CONTACT_NUMBER_LABEL" description="COM_GOTAUCTION_CONTACT_NUMBER_DESC" />
		<field name="email" type="email" default="0" label="COM_GOTAUCTION_EMAIL_LABEL" description="COM_GOTAUCTION_EMAIL_DESC" />
		<field name="logo" type="media" default="0" label="COM_GOTAUCTION_LOGO_LABEL" description="COM_GOTAUCTION_LOGO_DESC" />
		<field name="street_number" type="text" default="0" label="COM_GOTAUCTION_STREET_NUMBER_LABEL" description="COM_GOTAUCTION_STREET_NUMBER_DESC" />
		<field name="street_name" type="text" default="0" label="COM_GOTAUCTION_STREET_NAME_LABEL" description="COM_GOTAUCTION_STREET_NAME_DESC" />
		<field name="suburb" type="text" default="0" label="COM_GOTAUCTION_SUBURB_LABEL" description="COM_GOTAUCTION_SUBURB_DESC" />
		<field name="city" type="text" default="0" label="COM_GOTAUCTION_CITY_LABEL" description="COM_GOTAUCTION_CITY_DESC" />
		<field name="post_code" type="text" default="0" label="COM_GOTAUCTION_POST_CODE_LABEL" description="COM_GOTAUCTION_POST_CODE_DESC" />
		<field name="gpsx" type="text" default="0" label="COM_GOTAUCTION_GPS_X_LABEL" description="COM_GOTAUCTION_GPS_X_DESC" />
		<field name="gpsy" type="text" default="0" label="COM_GOTAUCTION_GPS_Y_LABEL" description="COM_GOTAUCTION_GPS_Y_DESC" />
		
		
	</fieldset>
</form>
